.circle-icon {
  border-radius: 50%;
  border: 1px solid ;
  padding: 6px;  
}
.cadr-icon {
  border-style: 150%;
  border: 1px solid white;
  padding: 18px;
}
.centre {
  background-color: rgb(3, 59, 74);
}
.bottom {
  background-color: rgb(2, 51, 65);
}
.form-control {
  background-color: rgb(27, 79, 93); 
}